/* Disable Overscroll on header */
html {
  overflow: hidden;
  height: 100%; }

body {
  height: 100%;
  overflow: auto;
  overscroll-behavior-y: none;
  background-color: #F2F6FA; }

.user-portfolio table.table {
  margin: 0; }

.user-portfolio table.table thead tr th {
  cursor: pointer; }

.user-portfolio table.table thead tr:hover {
  background-color: inherit; }

.hero-body .title {
  padding-top: 5.5vh; }

.company-list figure.image img {
  width: auto;
  max-height: 80px;
  margin: 10px; }

.company-list .box {
  margin-bottom: 12px; }

.single-company figure.image {
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 40px; }

.single-company p.title {
  margin-bottom: 15px; }

.user-list div.person, .resource-list div {
  border-bottom: 1px solid #E6EAEE;
  margin: 1rem;
  padding-bottom: 1rem; }

.user-details .message-header .subtitle {
  margin: 5px; }

.user-details .header-field {
  margin: 10px; }

.message-header i {
  margin-right: 10px; }

section.section {
  padding-top: 1rem; }

.avatar img {
  border-radius: 50%; }

.about-us i.linkedin {
  font-size: 1.5rem;
  color: #0077B5; }

.about-us .tile img {
  margin-bottom: 15px; }

.about-us .tile.is-child {
  height: 100%; }

.breadcrumb.is-dark li a {
  color: #ccc; }

.breadcrumb.is-dark li a:hover {
  color: white; }

.breadcrumb.is-dark li.is-active a {
  color: white;
  font-weight: 500; }

.breadcrumb.is-dark li:before {
  color: #aaa; }

.home .notification {
  color: white;
  height: 200px;
  padding-top: 20%;
  padding-left: 8%;
  background-size: 450px 200px !important;
  text-shadow: 2px 3px 10px rgba(14, 64, 128, 0.56); }

.home .notification.portfolio {
  background: linear-gradient(150deg, #6e45e2CC, #88d3ceA6), url("https://placeimg.com/450/200/people/grayscale") no-repeat center; }

.home .notification.company {
  background: linear-gradient(150deg, #abecd6CC, #fbed96A6), url("https://static.pexels.com/photos/264594/pexels-photo-264594.jpeg") no-repeat center; }

.home .notification.stocks {
  background: linear-gradient(150deg, #ff0844CC, #ffb199A6), url("https://static.pexels.com/photos/69760/pexels-photo-69760.jpeg") no-repeat center; }

.home .notification.about {
  background: linear-gradient(150deg, #495affCC, #0acffeA6), url("https://placeimg.com/450/200/tech/grayscale") no-repeat center; }

/* Fix for chat widget */
.widget-container * {
  outline: none; }

@media screen and (max-width: 800px) {
  .widget-container {
    height: inherit !important; }
  .conversation-container {
    height: 88vh !important; } }
